.b-courses {}

.b-courses__title {}

.b-title {
    margin-bottom: 120px;
    text-align: center;
}

.b-courses__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 80px;
}

.b-courses__list-item {
    max-width: 790px;
    flex: 1 1 47%;
    display: flex;
}
.b-courses__show-more {
    margin-left: auto;
    margin-right: auto;
    display: block;
}