.b-slide-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.swiper {}

.mySwiper {
   
}

.b-slide-section__slider {
    max-width: 760px;
    position: relative;
    padding-left: 80px;
    padding-bottom: 80px;
    &:before {
        content: '';
        width: 100%;
        // height: 100%;
        position: absolute;
        max-width: 680px;
        top: 80px;
        right: 80px;
        left: 0;
        bottom: 0;
        background-color: #fafafa;
        border-radius: var(--radius);
    }
}

.swiper-wrapper {}

.swiper-slide {
    border-radius: var(--radius);
    position: relative;
    height: auto !important;
}

.swiper-slide__img {
    object-fit: cover;
    z-index: 2;
    position: relative;
    max-width: 680px;
    min-height: 100%;
    border-radius: var(--radius);
    cursor: grab;
}

.swiper-slide-active {
   
}

.swiper-button-next {}

.swiper-button-prev {}

.swiper-pagination {}

.b-slide-section__description {
    max-width: 760px;
}

.swiper {}

.swiper-arrows {
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 20px;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative;
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: var(--radius);

    &:hover {
        opacity: .95;
    }
}

.swiper-button-prev {
    margin-right: 20px;

    &:after {
        background-image: url('./../img/arrow-slider.svg');
        background-repeat: no-repeat;
        background-size: 24px 24px;
        transform: rotate(-180deg) scale(1.3) translateY(-1px);
        color: transparent;
        position: absolute;
        line-height: 0.5;
    }
}

.swiper-button-next {
    margin-right: 0;

    &:after {
        background-image: url('./../img/arrow-slider.svg');
        background-repeat: no-repeat;
        background-size: 24px 24px;
        color: transparent;
        position: absolute;
        line-height: 0.5;
        transform: scale(1.3);
    }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;

    &:after {
        opacity: .35;
    }
}

.swiper-pagination.swiper-pagination-custom {
    color: #fff;
    background-color: #141B1F;
    font-size: 18px;
    padding: 5px 20px;
    max-width: max-content;
    border-radius: 20px;
    position: absolute;
    left: 40px;
    bottom: 40px;
}